[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pylint = "*"
photonlibpy = "2024.2.4"
robotpy-cli = "*"
robotpy = {extras = ["all"], version = "==2024.2.1.1"}

[dev-packages]

[requires]
python_version = "3.10"
